* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

textarea {
   font-family: inherit;
   font-size: inherit;
}

.message {
    right: 10px;
    border: none;
    padding: 1px 10px; 
    word-wrap: break-word;
    color: white;
}

body { 
    font: 14px Helvetica, Arial; 
    background-color: black;
}

form { 
    text-align: center;
}

form button { 
    color: white;
    padding: 7.5px 10px;
    right: 4%;
    display: inline-block;
    width: auto;
    position: relative;
    text-align: center;
    float: right;
    background: inherit;
    border: 1px solid #CFD8DC;
}

#main {
    display: block;
}

#countImage {
    width:25px;
    height:25px;
    vertical-align: middle;
    display: inline-block;
}

#population {
    position: relative;
    color: white;
    width: %;
    height: 30px;
    font-size: 15px;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

#count {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

#username {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    width: 180px;
    font-size: 20px;
    color: white;
    position: relative;
}

#player {
    float:  left;
}

#header {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
}

#container {
    position: relative;
    height: 80%;
    max-height: inherit;
    overflow: auto;
    padding: 15px 2px;
    border-top: 1px solid #CFD8DC;
    border-bottom: 1px solid #CFD8DC;
}

#chat {
    border-left: 1px solid #CFD8DC;
    float: right;
    background-color: #263238;
    position: absolute;
    right: 0px;
    width: 30%;
    height: 100%;
    padding: 5px;
}

#chat * {
    margin: 5px 0;
}

#m {
    padding: 5px;
    width: 92.5%;
    max-width: 92.5%;
    max-height: 80px;
    background: #37474F;
    color: white;
}

#playerWrap {
    position: absolute;
    width: 70%;
    top: 15%;
    padding: 5px;
}

#playerContainer {
    position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

#player {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}